.navbar{
       list-style: none;
       background-color: LightBlue;
       overflow: hidden;
       padding: 0;
       width: 580px;
    }

    .navbar a, .dropdown div{
        text-decoration: none;
        color: black;
        font-size: 24px;
        padding: 16px;
        display: inline-block;
    }

    .navbar li{
        float: left;
    }

    .navbar li:hover{
        background-color:blue;
    }

    .dropdown-content{
        list-style: none;
        padding: 0;
        display: none;
        position: absolute;
        z-index: 1;
        background-color: LightBlue;
    }

    .dropdown-content li{
        float: none;
    }

    .dropdown:hover .dropdown-content{
        display: block;
    }

    .active{
         background-image: linear-gradient(blue, purple);
    }

    .paragraph{
        font-size: 14px;
        width: 350px;
    }

    .paragraph2{
        font-size: 13px;
        width: 350px
    }

    .table, tr, td {
        padding: 8px;
    }

    .rotateimg90 {
  -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  border:5px solid #021a40;
}
.rotateimg180 {
  -webkit-transform:rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.imageborder{
    border:5px solid #021a40;
}

.background{
    background-color:aquamarine;
}

.caption{
    font-size: 24px;
}

